:root{
    --base-color: #fff;
    --secondary-color: #ff8c00;
    --background: #f5f1df;
    --text: #07091a;
    --border: #d4d4d4;
    --button-color: #fff;
}

.dark{
    --base-color: #292a34;
    --secondary-color: #ff8c00;
    --background: #1a1b25;
    --text: #ffffff;
    --border: #5f5a6e;
    --button-color: #07091a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

body,html {   
    background-color: var(--background);
  
}

.header-container{
    width: 100%;
    height: 80px;
    background-color: var(--base-color);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--border);
}

.title{
    width: auto;
    height: 48px;
    margin-left: 64px;
    display: flex;   
}

.logo img{
    width: auto;
    height: 48px;
}

.logo-text {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.logo-text p, .logo-text h1{
    margin: 0 0 0 24px;
}

.logo-text h1{
    line-height: 1.2;
    color: var(--secondary-color);
}

.logo-text p{
    color: var(--text);
}

.welcome{
    color: var(--text);
}
.right-header{
    margin: 0 64px 0 0;
    display: flex;
    align-items: center;
    gap: 24px;

}
.form-tambah{
    display: flex;
    justify-content: center;
    align-items: center;   
    
}
.form-tambah button{
    width: 120px;
    height: 40px;
    background-color: var(--secondary-color);
    color: var(--button-color);
    font-family: 'Poppins';
    font-weight: 600;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-tambah button:hover{
    background-color: #bd5800
}

.right-header a, .right-header a:visited {
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: none;
}

.right-header a:hover, .right-header a:hover {
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: underline;
}

/* POPUP */
/* POPUP */
/* POPUP */
.tambah-produk{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: auto;
    background-color: #ff0000;

}
.tambah-produk form{
    display: flex;
    flex-direction: column;
    width: 160px;

}

.tambah-produk.open{
    opacity: 1;
    z-index: 999;
}

/* POPUP */
/* POPUP */
/* POPUP */


.hero{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-image: url("../assets/pokemonPattern.png");
    object-fit: cover;
    background-color: var(--background);
}

/* carousel */
.carousel-container {
    position: relative;
    width: 67%;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid var(--border);
    
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 400px;
 
}

.carousel-item {
    flex: 0 0 100%;
    min-width: 100%;
    height: 100%;
    
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;

}

.indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.indicator.active {
    background-color: var(--base-color);
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    background-color: var(--secondary-color);
    color: var(--base-color);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    font-size: larger;
}

.carousel-prev {
    left: 20px;
}

.carousel-next {
    right: 20px;
}

.container-parent{
    width: 100%;
    height: auto;
    background-color: var(--base-color);
    padding: 40px 80px;
    border-top: 1px solid var(--border);
}

.search-and-sort{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.search-container{
    display: flex;
    align-items: center;
    position: relative; 
}

.search-container input{
    width: 600px;
    height: 64px;
    padding: 12px 12px 12px 40px;
    background-color: var(--base-color);
    border: solid 2px var(--border);
    border-radius: 50px;
    outline: none;
    font-family: 'Poppins';
}

.sort-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 64px;
    color: var(--button-color);
    border-radius: 50px;
    background-color: var(--secondary-color);
    gap: 20px;
}
.sort-button ul li {
    display: inline-block;
    position: relative;
    font-weight: 600;
    width: 160px;
    height: 64px;
    background-color: var(--secondary-color);
    text-align: center;  line-height: 64px;
    border-radius: 50px; 
    
}

.sort-button ul li a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
}

.sort-button ul li ul.sort-dropdown {
    position: absolute;
    z-index: 999;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sort-button ul li:hover ul.sort-dropdown {
    display: block;
}

.sort-button ul li ul.sort-dropdown li a:hover {
    background-color: #bd5800;
    color: var(--text);
}

.sort-button ul li ul.sort-dropdown {
    position: absolute;
    z-index: 999;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
   
    left: 0; 
    top: 100%; 
    width: 100%; 
    background-color: var(--base-color); 
    border: 1px solid var(--border);
    border-top: none; 
    border-radius: 0 0 8px 8px; 
}

.sort-button ul li ul.sort-dropdown li {
    width: 100%; 
}

.sort-button ul li ul.sort-dropdown li a {
    display: block;
    padding: 12px 15px; 
    text-decoration: none;
    text-align: left; 
    color: var(--text); 
    background-color: var(--base-color);
    white-space: nowrap;
}

.sort-button ul li ul.sort-dropdown li a:hover {
    background-color: var(--secondary-color);
    color: var(--base-color);
}

.search-container .search-icon {
  position: absolute;
  top: 50%; 
  left: 15px; 
  transform: translateY(-50%);
  color: var(--border);
}


.sort-button{
    display: flex;
    gap: 12px;
    
}

.sort-button a{
    color: transparent;
}

.sort-name button, .sort-price button{
    width: 100px;
    height: 64px;
    background-color: var(--secondary-color);
    color: var(--base-color);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sort-name button:hover, .sort-price button:hover{
    background-color: #bd5800;
} 

.under-parent{
    margin: 48px;
    text-align: center;
    color: var(--text);
}

.product{
    width: 320px;
    height: auto;
    background-color: var(--base-color);
    border: var(--border) solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    gap: 10px;
    transition: border 0.3s ease, transform 0.3s ease;
}

.product:hover{
    border:var(--secondary-color) solid 1px;
}

.product img{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.product h2, .product p{
    text-align: center;
}

.product h2{
    font-size: 20px;
    font-weight: 500;
    color: var(--text);
}

.product p{
    color: var(--text);
    font-size: 16px;
    font-weight: 300;
}

.buttons{
    display: flex;
    gap: 20px;
}

.remove-button{
     width: 30px;
     height: 30px;
     background-color: #e40000;
     color: var(--base-color);
     border-radius: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.edit-button{
    width: 30px;
    height: 30px;
    background-color: #008cff;
    color: var(--base-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-button{
    width: 64px;
    height: 30px;
    background-color: var(--secondary-color);
    color: var(--base-color);
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-button a{
    text-decoration: none;
    color: var(--base-color);
    font-weight: 500;
}
footer{
    width: 100%;
    height: 250px;
    padding: 30px;
    background-color: #383855;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-texts{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.social-media ul{
    display: flex;
    gap: 40px;
}
.social-media ul li a{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    color: white;
    gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f185"; /* Sun icon */
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  color: #f39c12;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.4s;
  font-size: 12px;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
  content: "\f186"; /* Moon icon */
  color: #34495e;
}









