:root{
    --base-color: #fff;
    --secondary-color: #ff8c00;
    --background: #f5f1df;
    --text: #07091a;
    --border: #d4d4d4;
    --button-color: #fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

body,html {   
    background-color: var(--background);
    transition: 0.5s;
  
}

.title{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: auto;
    height: 48px;
}

.logo-text {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.logo-text h1{
    font-size: 25px;
    line-height: 1.2;
    color: var(--secondary-color);
}

.logo-text p{
    font-size: 10px;
    color: var(--text);
}

.container{
    background-image: url("../assets/pokemonPattern.png");
    object-fit: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-color: var(--base-color);
    border: 1px solid var(--border);
    border-radius: 12px ;
    width: 500px;
    height: 500px;
}

.register-text{
    width: 350px;
    height: auto;

}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.form-group input{
    width: 350px;
    height: 32px;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    border: 1px solid var(--border);
    outline: none;
}

.form-group button{
    margin-top: 20px;
    width: 350px;
    height: 40px;
    font-weight: 600;
    background-color: var(--secondary-color);
    color: var(--base-color);
    border: none;
    border-radius: 30px;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.form-group button:hover{
    background-color: #bd5800;

}

.error{
    font-size: 12px;
    color: red;
}

#direct-login{
    color: var(--secondary-color);
}

#direct-login:visited {
    color: var(--secondary-color);
}

